.main-homepage-image {
    width: 100%;
    max-height: 700px;
}

.skill-box-container {
    padding: 40px 0px; 
    padding-bottom: 60px;


}
.other-details-container {
    background-color: rgba(219, 241,253);
    padding: 40px 0px;
    padding-bottom: 60px;

}
.homepage-box-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;

}

.skills-container {
    width: 90%;
    margin: auto;
}

