.aboutme-container {
    background-color: rgba(219, 241,253);
    height: 460px;
    justify-content: space-around;
    padding-top: 40px;
}

.aboutme-title {
    font-family: 'Quintessential', cursive;
    font-size: 40px;
}

.aboutme-image-container {
    display: inline-block;
    background-color: #fff;
    height: 300px;
    width: 300px;
    margin: auto;
    vertical-align: top;
    padding: 20px;

}

.aboutme-image {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.aboutme-description {
    font-family: 'Quicksand', sans-serif;


    font-size: 23px;
    display: inline-block;
    margin: 20px;
    width: 50%;
}

@media screen and (max-width:1400px) {
    .aboutme-description {
        font-size: 20px;
    }
}

@media screen and (max-width:1100px) {
    .aboutme-description {
        font-size: 18px;
    }
}

@media screen and (max-width:900px) {
    .aboutme-image-container {
        height: 200px;
        width: 200px;
        display: block;
        padding: 10px;
    }
    .aboutme-description {
        width: 80%;
        font-size: 16px;
    }
    .aboutme-container{
        height: 550px;
    }
}

@media screen and (max-width: 500px) {
    .aboutme-image-container{
        height: 150px;
        width: 150px;
    }
    .aboutme-title {
        font-size: 26px;
    }
}

@media screen and (max-width:380px) {
    .aboutme-image-container {
        height: 150px;
        width: 150px;
        display: block;
        padding: 8px;
    }
    .aboutme-description {
        width: 80%;
        font-size: 10px;
    }
    .aboutme-container{
        height: 420px;
        padding-top: 20px;
    }
    .aboutme-title {
        font-size: 26px;
    }
}

@media screen and (max-width:280px) {
    .aboutme-image-container {
        height: 100px;
        width: 100px;
        display: block;
        padding: 5px;
    }
    .aboutme-description {
        width: 90%;
        margin: auto;
        font-size: 10px;
    }
    .aboutme-container{
        height: 370px;
    }
    .aboutme-title {
        font-size: 14px;
    }
}

@media screen and (max-width:200px) {
    .aboutme-image-container {
        height: 100px;
        width: 100px;
        display: block;
        margin: auto;
        padding: 5px;
    }
    .aboutme-description {
        width: 90%;
        margin: auto;
        font-size: 8px;
    }
    .aboutme-container{
        height: 330px;
    }
    .aboutme-title {
        font-size: 14px;
    }
}