.header-container {
    height: 70px;
    background-color: #333;
}

.website-name {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #fff;
    /* position: fixed; */
    position: absolute;
    left: 40px;
    top: 10px ;

}

.phone-email {
    color: #fff;
    position: absolute;
    font-family: 'Inconsolata', monospace;
    right: 20px;
}

.phone {
    top: 10px;

}

.email {
    top: 35px;
}

.website-name:hover,
.phone-email:hover {
    cursor: pointer;
    text-shadow: 1px 1px 8px rgba(111,176,199);
}

@media screen and (max-width: 800px) {
    .phone-email {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .header-container{
        height: 40px;
    }
    .website-name{
        font-size: 20px;
        top: 10px;
        left: 4px;
    }
}